#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

/* Custom CSS overiding the default styles */

div .cs-message-list__typing-indicator-container div {
  color: #6d4700;
}

div .cs-main-container,
div .cs-chat-container .cs-message-input {
  border: 0;
  border-radius: 8px;
}

div .cs-message--incoming .cs-message__content,
div .cs-chat-container .cs-message-input,
div .ps__thumb-y,
div .ps__rail-y:hover .ps__thumb-y,
div .ps__rail-y:active .ps__thumb-y {
  background-color: rgba(65, 105, 225, 0.1);
  display: flex;
  align-items: center;
}

div .cs-message-input__content-editor,
div .cs-message-input__content-editor-wrapper,
div .cs-message-list,
div .ps__rail-y:hover,
div .ps .ps__rail-y:hover,
div .ps__rail-y {
  background-color: rgba(65, 105, 225, 0.8);
  color: #FFF;
  font-weight: 600;
  font-size: 18px;
}

div .cs-message--outgoing .cs-message__content {
  background-color: #ffa552;
  margin: 8px 0;
}

div .cs-typing-indicator__dot {
  background-color: #6d4700;
}
